<div class="container">
    <h1>Listado de alumnos</h1>

    <table>
        <thead>
            <tr>
                <th  *ngFor="let column of columnsTable">{{ column }}</th>
            </tr>
        </thead>
        
        <tbody>
            @for (student of students; track $index) {
                <tr>
                    <td>{{ student.name }} {{ student.surname }}</td>
                    <td>{{ student.genre }}</td>
                    <td>
                        @if (student.note > 5) {
                            Aprobado
                        } @else {
                            Suspendido
                        }
                    </td>
                    
                    <td>{{ student.absences }}</td>
                </tr>
            } @empty {
                <div>El listado de alumnos está vacío</div>
            }
        </tbody>
    </table>
</div>
