<div class="container">

    <h1>Estadísticas del listado de alumnos</h1>

    @defer() {
        <app-resume-data></app-resume-data>
    } @placeholder {
        <p class="block bg-blue p-2">Loading ...</p>
    }

    @defer(on viewport) {
        <app-gender></app-gender>
    } @placeholder {
        <p class="block bg-violet mt-5">Loading ...</p>
    }

     @defer(on viewport) {
        <app-general-results></app-general-results>
    } @placeholder {
        <p class="block bg-x mt-5">Loading ...</p>
    }

</div>