<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="button-row">
      <button routerLink="/home" routerLinkActive="router-link-active"  mat-flat-button color="primary">Home</button>
      <button routerLink="/list" routerLinkActive="router-link-active"  mat-flat-button color="primary">List</button>
      <button routerLink="/statistics" routerLinkActive="router-link-active"  mat-flat-button color="primary">Statistics</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet />